/* Styles go here */

body {
  padding: 30px 15px 0;
}

.modal-open #content {
  -webkit-transition:all .2s, -webkit-transform .2s;
  transition:all .2s ease-out, -webkit-transform .2s
}
.modal-open.left #content {
  transform: translate(320px, 0);
}

#downloadbtn {
  margin-bottom: 10px;
}

.about-links {
  color: #95a5a6;
}
.about-links a {
  border-bottom: 1px dotted;
  text-decoration: none;
  margin-right: 15px;
}

.about-links li {line-height: 30px;}
.about-links li:hover, .about-links li:hover a { color: #666; }
.about-links .love:hover i { color: #e74c3c; }
.about-links .prospectus:hover i { color: #f39c12; }
.about-links .cypher:hover i { color: #16a085; }
.about-links .lab:hover i { color: #8e44ad; }

.ng-aside .modal-content {
  min-width: 320px;
}
.frontHero {
    position: relative;
    height: 450px;
    overflow: hidden;
    border-top: 4px solid #f50;
    background: #666 url(https://a-v2.sndcdn.com/assets/images/front/search-hero/ago-9ab024.jpg) center center;
    background-size: 1240px 100%;
}
.frontHero__content {
    position: absolute;
    bottom: 45px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.l-inner-fullwidth {
    margin-left: -30px;
    margin-right: -30px;
}
.frontHero__logo {
    position: absolute;
    top: 10px;
    left: 20px;
    background: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a4.png) no-repeat 12px 11px;
    background-size: 48px 22px;
    display: block;
    width: 184px;
    height: 46px;
    text-indent: -999em;
}
.frontHero__content {
    position: absolute;
    bottom: 45px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.frontHero__intro {
    font-size: 32px;
    font-weight: 100;
    margin: 0 0 16px 0;
}
.frontHero__actions {
    font-size: 16px;
}
.g-dark {
    color: #999;
}
.frontHero__actions .headerSearch {
    padding: 0;
    display: inline-block;
    width: 600px;
    margin-right: 10px;
}
.frontHero__actions .g-dark .headerSearch__input {
    padding-left: 12px;
    height: 40px;
}
.frontHero__actions .headerSearch__submit {
    background-size: 15px 15px;
    background-position: center center;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
.headerSearch__submit {
    border: 0;
    padding: 0;
    background: url(https://a-v2.sndcdn.com/assets/images/header/search-dbfe5c.svg) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.sc-ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}